.maindiv{
    height: 2rem;
}
.maindiv p{
    font-style: italic;
    width: fit-content;
    display: inline;
}
.maindiv button{
    font-style: italic;
float: right;
margin-right: 1rem;
background:rgb(226, 171, 171) ;
border: none;
padding:5px 10px 5px 10px;
border-radius: 10px;
}
@media (max-width:613px){
    .maindiv{
        height: max-content;
        text-align: center;
        display: block;
    }
    .maindiv button{
        float: none;
        margin-top: 5px;
    }
}